*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing:border-box;
    overflow-x: hidden;
}

#header{
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(223, 223, 223, 0.06);
    max-height: 100px;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    overflow-y: hidden;
    list-style: none;
    padding: 0 25px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(236, 104, 4); 
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#hero{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../img/background-photo.png);
    background-size: cover;
    background-position: center;
}
.contants{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 50px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    margin-bottom: 10px;
}
h4{
    color:rgb(236, 104, 4); 
    letter-spacing: 2px;
    font-size: 20px;
}
span2{
    color: rgb(236, 104, 4);
    letter-spacing: 2px;
    font-size: 50px;
}
span3{
    color: rgb(236, 104, 4);
    font-size: 25px;
    margin-bottom: 50px;
}
ic{
    display: flex;
    flex-direction: column;
    color: rgb(236, 104, 4);
    font-size: 35px;
    padding: 0 5px;
}
h9{
    position: absolute;
    top: -300px;
    color: transparent;
}
.comunication li {
    display: inline-block;
    color: white;
    list-style: none;
    padding-left: 10px;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 2px;
}
.comunication i{
    font-size: 50px;
    display: block;
    text-align: left;
    margin: 25px 0px;
    color: rgb(236, 104, 4);
}
a{
    color: transparent;
}
.about{
    width: 100%;
    padding:100px 0px;
    background-color: #191919;
}
.icons img{
    width: 200px;
    display: block;
    margin-right: auto;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 720px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(236, 104, 4);
}
h5{
    color:white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color:#fcfc;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 25px;
}

.list1 li{
    color: #fcfc;
    text-align: left;
    padding-left: 100px;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 2px;    
}
.list2 li{
    color: #fcfc;
    text-align: left;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 2px;
    line-height: 25px;
}
.subcard{
    height: 100px;
    width: 250px;
    padding: 20px 35px;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}
.subcard j{
    font-size: 20px;
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: center;
    margin: 0px 0px;
    color: rgb(236, 104, 4);
}
h6{
    font-size: 10px;
    padding-top: 5px;
    color: rgb(236, 104, 4);
}
h7{
    font-size: 10px;
    padding-top: 20px;
    color: rgb(236, 104, 4);
}
.contact-me{
    width: 100%;
    height: 100vh;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-me .pro-form{
    display: flex;
    flex-direction: column;
    padding: 10px 45px;
    background: rgb(255, 255, 255);
    width: 500px;
    transition: all 0.8s;
}
.contact-me .pro-form:hover{
    border-radius: 16px;
    transition: all 0.8s;
}
.contact-me h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
.contact-me h3{
    font-size: 20px;
    color: #7a7a7a;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.contact-me form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #7a7a7a;
    font-size: 17px;
    padding-top: 10px;
    margin-bottom: 4px;
}
form input{
    background: #dadada;
    padding: 15px;
    outline: none;
    border: 15px;
    font-size: 15px;
}
form input:hover{
    border-radius: 16px;
    transition: all 0.8s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 20px;
    background: #dadada;
}
form textarea:hover{
    transition: all 0.8s;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
    background: transparent;
    border: 2px solid #7a7a7a;
    color: #666666;
    transition: all 1s;
}
form button:hover{
    background: #dadada;
    color: #101026;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* Página Obrigado */
.main2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #101026;

}
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 10px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}



/* Layout para mobile */ 

@media (max-width: 915px){
#hero{    
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../img/background-header.png);
    background-size: cover;
    background-position: center;
}
h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 55px;
}
h4 {
    color: rgb(236, 104, 4);
    letter-spacing: 2px;
    font-size: 40px;
}

}